Función Cantidad de Filmaciones por Mes:

In [1]:
# Librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set
import warnings
warnings.filterwarnings('ignore')
import ast
import datetime as dt
from fastapi import FastAPI, HTTPException
from wordcloud import WordCloud

ModuleNotFoundError: No module named 'wordcloud'

In [2]:
pip install  WordCloud

Collecting WordCloud
  Downloading wordcloud-1.9.3-cp310-cp310-win_amd64.whl (299 kB)
Requirement already satisfied: numpy>=1.6.1 in c:\users\maria isabel arango\appdata\local\programs\python\python310\lib\site-packages (from WordCloud) (2.0.1)
Requirement already satisfied: matplotlib in c:\users\maria isabel arango\appdata\local\programs\python\python310\lib\site-packages (from WordCloud) (3.9.1)
Requirement already satisfied: pillow in c:\users\maria isabel arango\appdata\local\programs\python\python310\lib\site-packages (from WordCloud) (10.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\maria isabel arango\appdata\roaming\python\python310\site-packages (from matplotlib->WordCloud) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\maria isabel arango\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->WordCloud) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\maria isabel arango\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->WordCloud) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\maria isabel arango\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->WordCloud) (4.53.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\maria isabel arango\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->WordCloud) (3.1.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\maria isabel arango\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->WordCloud) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\maria isabel arango\appdata\roaming\python\python310\site-packages (from matplotlib->WordCloud) (24.1)
Requirement already satisfied: six>=1.5 in c:\users\maria isabel arango\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib->WordCloud) (1.16.0)
Installing collected packages: WordCloud
Successfully installed WordCloud-1.9.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script wordcloud_cli.exe is installed in 'c:\Users\Maria Isabel Arango\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.2.3; however, version 24.1.2 is available.
You should consider upgrading via the 'c:\Users\Maria Isabel Arango\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [26]:
#Cargo los datos de los archivos 
data_movies = pd.read_parquet('./Datasets/data_movies.parquet')
data_credits = pd.read_parquet('./Datasets/data_credits.parquet')

In [27]:
data_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45363 entries, 0 to 45465
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   budget                       45363 non-null  int64
 1   id                           45363 non-null  int64
 2   original_language            45352 non-null  object
 3   overview                     44422 non-null  object
 4   popularity                   45363 non-null  float64
 5   release_date                 45363 non-null  object
 6   revenue                      45363 non-null  float64
 7   runtime                      45117 non-null  float64
 8   status                       45283 non-null  object
 9   tagline                      20394 non-null  object
 10  title                        45363 non-null  object
 11  vote_average                 45363 non-null  float64
 12  vote_count                   45363 non-null  float64
 13  belongs_to_collection_id     4483 non-null   float64
 14  belongs_to_collection_name   4483 non-null   object
 15  spoken_languages_1_iso       41597 non-null  object
 16  spoken_languaje_1_name       41597 non-null  object
 17  production_companies_1_name  33570 non-null  object
 18  production_companies_1_id    33570 non-null  float64
 19  production_companies_2_name  16996 non-null  object
 20  production_companies_2_id    16996 non-null  float64
 21  production_countries_1_iso   39154 non-null  object
 22  production_countries_1_name  39154 non-null  object
 23  genres_1_id                  42979 non-null  float64
 24  genres_1_name                42979 non-null  object
 25  genres_2_id                  28433 non-null  float64
 26  genres_2_name                28433 non-null  object
 27  genres_3_id                  13967 non-null  float64
 28  genres_3_name                13967 non-null  object
 29  release_year                 45363 non-null  int32
 30  return                       45363 non-null  float64
 31  retorno_US                   45363 non-null  float64
dtypes: float64(13), int32(1), int64(2), object(16)
memory usage: 11.2+ MB

def score_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score.
                    Ejemplo de retorno: La película X fue estrenada en el año X con un score/popularidad de X

In [28]:
def cargar_datos():
    # Ajusta la ruta al archivo Parquet
    df = pd.read_parquet('./Datasets/data_movies.parquet')
    df_credits = pd.read_parquet('./Datasets/data_credits.parquet')
    return df, df_credits

#Cargo los Datos
peliculas, creditos = cargar_datos()

In [29]:
peliculas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45363 entries, 0 to 45465
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   budget                       45363 non-null  int64
 1   id                           45363 non-null  int64
 2   original_language            45352 non-null  object
 3   overview                     44422 non-null  object
 4   popularity                   45363 non-null  float64
 5   release_date                 45363 non-null  object
 6   revenue                      45363 non-null  float64
 7   runtime                      45117 non-null  float64
 8   status                       45283 non-null  object
 9   tagline                      20394 non-null  object
 10  title                        45363 non-null  object
 11  vote_average                 45363 non-null  float64
 12  vote_count                   45363 non-null  float64
 13  belongs_to_collection_id     4483 non-null   float64
 14  belongs_to_collection_name   4483 non-null   object
 15  spoken_languages_1_iso       41597 non-null  object
 16  spoken_languaje_1_name       41597 non-null  object
 17  production_companies_1_name  33570 non-null  object
 18  production_companies_1_id    33570 non-null  float64
 19  production_companies_2_name  16996 non-null  object
 20  production_companies_2_id    16996 non-null  float64
 21  production_countries_1_iso   39154 non-null  object
 22  production_countries_1_name  39154 non-null  object
 23  genres_1_id                  42979 non-null  float64
 24  genres_1_name                42979 non-null  object
 25  genres_2_id                  28433 non-null  float64
 26  genres_2_name                28433 non-null  object
 27  genres_3_id                  13967 non-null  float64
 28  genres_3_name                13967 non-null  object
 29  release_year                 45363 non-null  int32
 30  return                       45363 non-null  float64
 31  retorno_US                   45363 non-null  float64
dtypes: float64(13), int32(1), int64(2), object(16)
memory usage: 11.2+ MB

In [30]:
def score_titulo (titulo_de_la_filmacion):
    titulo_de_la_filmacion = titulo_de_la_filmacion.lower().strip()
    print (titulo_de_la_filmacion)

    pelicula = peliculas[peliculas['title'].str.lower() == titulo_de_la_filmacion]
    
    if pelicula.empty:
        print("No se encontró ninguna película con ese título.")
        return None
    else:
    # Extraer los detalles de la película
        pelicula_encontrada = pelicula.iloc[0]  # Tomar la primera coincidencia
        titulo = pelicula_encontrada['title']
        anio = pelicula_encontrada['release_year']
        score = pelicula_encontrada['popularity']

        return (pelicula_encontrada, titulo, anio, score)

In [31]:
peli = 'Jumanji'
score_titulo(peli)

jumanji

(budget                                                                  65000000
 id                                                                          8844
 original_language                                                             en
 overview                       When siblings Judy and Peter discover an encha...
 popularity                                                             17.015539
 release_date                                                          1995-12-15
 revenue                                                              262797249.0
 runtime                                                                    104.0
 status                                                                  Released
 tagline                                Roll the dice and unleash the excitement!
 title                                                                    jumanji
 vote_average                                                                 6.9
 vote_count                                                                2413.0
 belongs_to_collection_id                                                     NaN
 belongs_to_collection_name                                                  None
 spoken_languages_1_iso                                                        en
 spoken_languaje_1_name                                                   English
 production_companies_1_name                                     TriStar Pictures
 production_companies_1_id                                                  559.0
 production_companies_2_name                                         Teitler Film
 production_companies_2_id                                                 2550.0
 production_countries_1_iso                                                    US
 production_countries_1_name                             United States of America
 genres_1_id                                                                 12.0
 genres_1_name                                                          Adventure
 genres_2_id                                                                 12.0
 genres_2_name                                                          Adventure
 genres_3_id                                                                 12.0
 genres_3_name                                                          Adventure
 release_year                                                                1995
 return                                                                  3.043035
 retorno_US                                                           197797249.0
 Name: 1, dtype: object,
 'jumanji',
 np.int32(1995),
 np.float64(17.015539))

In [34]:
type(data_movies['vote_average'][0])

numpy.float64

In [35]:
type(data_movies['vote_count'][0])

numpy.float64

In [32]:
peliculas.head()

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,production_countries_1_name,genres_1_id,genres_1_name,genres_2_id,genres_2_name,genres_3_id,genres_3_name,release_year,return,retorno_US
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,None,...,United States of America,16.0,Animation,16.0,Animation,16.0,Animation,1995,11.451801,343554033.0
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,United States of America,12.0,Adventure,12.0,Adventure,12.0,Adventure,1995,3.043035,197797249.0
2,0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,United States of America,10749.0,Romance,10749.0,Romance,NaN,None,1995,0.000000,0.0
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,...,United States of America,35.0,Comedy,35.0,Comedy,35.0,Comedy,1995,4.090760,65452156.0
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,...,United States of America,35.0,Comedy,NaN,None,NaN,None,1995,0.000000,0.0

In [33]:
peliculas['title'][1]
creditos.head()

,id,cast_name,cast_name_2,cast_name_3,cast_name_4,cast_name_5,cast_name_6,cast_name_7,cast_name_8,cast_name_9,cast_name_10,director
0,862,tom hanks,tim allen,don rickles,jim varney,wallace shawn,john ratzenberger,annie potts,john morris,erik von detten,laurie metcalf,john lasseter
1,8844,robin williams,jonathan hyde,kirsten dunst,bradley pierce,bonnie hunt,bebe neuwirth,david alan grier,patricia clarkson,adam hann-byrd,laura bell bundy,larry j. franco
2,15602,walter matthau,jack lemmon,ann-margret,sophia loren,daryl hannah,burgess meredith,kevin pollak,none,none,none,howard deutch
3,31357,whitney houston,angela bassett,loretta devine,lela rochon,gregory hines,dennis haysbert,michael beach,mykelti williamson,lamont johnson,wesley snipes,forest whitaker
4,11862,steve martin,diane keaton,martin short,kimberly williams-paisley,george newbern,kieran culkin,bd wong,peter michael goetz,kate mcgregor-stewart,jane adams,alan silvestri